<ion-view view-title="Calls">
    <ion-content class="">

        <ion-list>

            <label class="item item-input">
                <span class="input-label">Number</span>
                <input type="tel" ng-model="phoneNumber">
            </label>

            <button class="button button-block button-positive" ng-click="register()" ng-hide="registered">
                Register
            </button>

            <div ng-show="registered">
                 <button class="button button-block button-positive" ng-click="callPhone(phoneNumber)" ng-hide="onCall">
                    Place Call
                </button>

                <button class="button button-block button-assertive" ng-click="endCall()" ng-show="onCall">
                        End Call
                </button>
            </div>




        </ion-list>

        <div style="display: none">
            <video id="my-video" muted="muted"></video>
            <video id="their-video"></video>
        </div>


    </ion-content>
</ion-view>
